# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# productionkk
/dist

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Android studio 3.1+ serialized cache file
.idea/caches/build_file_checksums.ser
/.idea/donations-feed.iml
/.idea/workspace.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
