.wrapper-with-moving-contents {
  position: absolute;
  left: 0;
  top: 0;
  /*-webkit-animation: mover 1s infinite alternate;*/
  animation: mover 5s infinite linear;
}
/*@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}*/
@keyframes mover {
  0% {
    /*transform: translateY(0);*/
    top: 0;
  }
  100% {
    /*transform: translateY(-10px);*/
    /*top: -200%;*/
    top: -200%;
  }
}
